html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#layer1 {
  display: block;
  position: absolute;
  z-index: 1;
  border:1px solid #000;
  width: fit-content;
  height:  fit-content;
}

#layer2{
  position: absolute;
  z-index: 2;
  width: fit-content;
  height:  fit-content;
}

#container{
  position: relative;
  margin: 0 auto;
  width: 95%;
  height:  95%;
  /* padding: 10px; */
}
.tool-button-container {
  position: fixed;
  top: 10%;
  width: 20px;
}
.tool-button {
  border: 0;
  text-decoration: none;
  float:left;
  margin: 2px;
}

.tool-button > img {
  width: 25px;
  height: 25px;
}

.tool-button.active {
  background-color : #777;
}